*~
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/
target/
.*.sw?
.cache
.classpath
.history
.project
.settings/
.gradle
.idea
build
gregd.me-backend.iml
gregd.me-backend.ipr
